h1 {
  color: #2d132c;
  text-align: center;
}

.checkbox {
  margin-right: 30px;
  margin-left: 30px;
}

body {
  background-color: #e6f0b6;
  font-size: 25px;
}

#btn {
  height: 42px;
  width: 140px;
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  background-color: cadetblue;
}

.edit {
  float: right;
  position: absolute;
  right: 100px;
  margin-left: 30px;
  border-radius: 15px;
  zoom: 1.5;
}

.save {
  margin-left: 20px;
  border-radius: 15px;
  zoom: 1.5;
}

.delete {
  float: right;
  position: absolute;
  right: 30px;
  margin-left: 30px;
  background-color: #ececec;
  border-radius: 15px;
  zoom: 1.5;
}

.liclass {
  padding: 10px;
  margin: 8px 8px 8px 180px;
  background-color: #66BFBF;
}

li {
  border-radius: 35px;
}

.checkbxclass {
  float: left;
  zoom: 2;
}

.editclass {
  border-radius: 15px;
  zoom: 1.5;
}

.edit:hover{
  background-color:#4be3ac;
}

.save:hover{
  background-color:#4be3ac;
}

.delete:hover{
  background-color:#4be3ac;
}
#btn:hover{
  background-color:#4be3ac;
}

#item1 {
  width: 80%;
  position: relative;
  text-align: center;
  list-style: none;
}

#new_item {
  font-size: 20px;
  padding-left: 50px;
  width: 60%;
  height: 20px;
  border-radius: 15px;
  background: white;
}
